@{
    ViewBag.Title = "Welcome to Adventure Works Photo Sharing.";
}

<h1>Welcome to Adventure Works Photo Sharing.</h1>
<h2>Latest Photos</h2>
@Html.Action("_PhotoGallery", "Photo", new { number = 3 })
